/* src/App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.beer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beer-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

input {
  padding: 8px;
  margin-bottom: 20px;
}
